<section id="finalScore">
    <br>
    <br>
    <div class="col-xs-12">
        <div class="title text-center zoomIn animated">
            <h1>Final Score</h1>
            <span class="title line"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12  fadeInRight animated">
            <h4 class="quotes">
                {{username}}, you got
            </h4>
            <h1 class="headline quotes">
                <span class="quotes">{{scoreInSec}} / {{score.wordScore}}</span>
            </h1>
            <br>
            <div class="col-sm-6 form-group">
                <button class="btn btn-primary afsana-btn" type="button" ng-click="play()">Play Again <i class="ion-refresh"></i></button>
            </div>
            <div class="col-sm-6 form-group">
                <button class="btn btn-primary afsana-btn" type="button" ng-click="logOut()">Log Out <i class="ion-log-out"></i></button>
            </div>
        </div>
    </div>
</section>