<section id="finalScore">
<br>
<br>
<div class="col-xs-12">
    <div class="title text-center wow zoomIn animated" style="visibility: visible; animation-name: zoomIn;">
        <h1>FINAL SCORE</h1>
        <span class="title line"></span>
    </div>
</div>
<div class="row" style="width: 70%;height: 70%; margin: auto;position: absolute;top: 0; left: 0; bottom: 0; right: 0; padding: 40px;">
    
    <div  style="width: 50%;margin: 0 auto;" class="col-sm-6  wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
        <div class="headline-wrap">
            <h1 class="headline quotes">
           <span class="quotes">{{score.userScore}} / {{score.wordScore}}</span>     
            </h1>
            <h4 class="quotes">
                 Score
            </h4>
        </div>
    </div>

    <div  class="col-sm-6 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">

        <div class="headline-wrap" style="margin-top: 100px;">

            <table class="table words">
                <thead>
                 <th>
                     <p>  Word </p> 
                 </th>
                 <th>
                     <p> You entered </p>
                 </th>
                 </thead>
                <tbody>
                <tr ng-repeat="word in solvedWordsArr">
                    <td><p>{{word.unmangled}}</p></td>
                    <td><p>{{word.entered}}<p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
</section>