<div class="row">
    <div class="col-md-10 wow fadeInLeft animated" style="z-index: 9999; visibility: visible; animation-name: fadeInLeft;">
        <div class="headline-wrap col-md-offset-5">
            <h1 class="headline">
                
                <br>
                Enter your name to start
            </h1>
            <form  ng-submit="submit()" name="startForm" role="form" class="row">
                <div class="form-group col-xs-10">
                    <input type="text" ng-model="name" ng-required="true" class="form-control mc-email"  placeholder="Name">
                </div>
                <div class="form-group col-xs-2 push-btn-left">
                    <button id="subscribe-button" type="submit" class="btn btn-default mc-btn">
                        <i class="ion-arrow-right-a"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>