<form ng-submit="getNextWord()">
    <br>
    <br>
    <div class="col-xs-12">
        <div class="title text-center zoomIn animated">
            <h1>{{word.mangled}}</h1>
            <span class="title line"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 fadeInLeft animated row-eq-height">
            <div class="col-sm-12 form-group">
                <input class="form-control afsana-style" ng-model="word.entered" ng-keydown="onKeyDown($event)" placeholder="enter correct word"
                    type="text" autofocus="">
            </div>
            <div class="col-sm-12 form-group">
                <button class="btn btn-primary afsana-btn" type="button" ng-click="getNextWord()">Next Word <i class="ion-arrow-graph-up-right"></i></button>
            </div>
        </div>
        <div class="col-sm-6  fadeInRight animated">
            <div class="headline-wrap">
                <h1 class="headline quotes">
                    <span class="quotes">{{time.timeInSec}}</span>
                </h1>
            </div>
        </div>
    </div>
</form>