
/* ///////////////////////////////////////////////////////////////////// 
//  01 - Global 
/////////////////////////////////////////////////////////////////////*/

body {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    overflow: hidden
}
#main {
    position: relative;
    height: 760px; 
    opacity: 1; 
    overflow: hidden;
    background-image:url('../../assets/images/poster.jpg'); 
}
p {
    font-size: 1.8em;
}
h1{
    text-align: center;
}
.headline {
    font-size: 2.3em;
    font-weight: 600;
    padding-top: 0%;
    padding-bottom: 0.5em;
    color: #fff;
}
.title {
    margin: 0px 0 5em;
    position: relative;
    width: 100%;
    color: #fff;
}

.title.line {
    display: block;
    width: 100%;
    position: absolute;
    height: 5px;
    background: transparent;
    border-top: 1px dashed #9c27b0;
    border-bottom: 1px dashed #9c27b0;
    top: 50%;
    z-index: 200;
    vertical-align: middle;
}

.title h1 {
    background: #9c27b0;
    display: inline-block;
    padding: 1em;
    border-left: 6px double #9c27b0;
    border-right: 6px double #9c27b0;
    position: relative;
    z-index: 600;
    line-height: 0;
    margin: 0;
}

/* ///////////////////////////////////////////////////////////////////// 
//  02 - home 
/////////////////////////////////////////////////////////////////////*/

.mc-email {
    border-radius: 0px;
    background: transparent;
    border: 1px solid #fff;
    font-size: 1.5em;
    height: auto;
    outline: none;
    transition: 0.4s ease border;
    color: #fff;
}
.mc-email:active, 
.mc-email:focus{
    box-shadow: none;
    border-color: #9c27b0;
}
.mc-btn {
    border-radius: 0px;
    font-size: 1.5em;
    padding: 0.29em 0.8em;
    background: transparent;
    color: #fff;
    transition: 0.4s ease-in;
}
.mc-btn:hover {
    background: #9c27b0;
    color: #fff;
    border-color: #9c27b0;
}
.push-btn-left{
    margin-left: -30px;
}
.arrow-down {
    position: absolute;
    width: 100%;
    bottom: 2%;
    z-index: 899;
}
.arrow-down a{
    font-size: 2em;
    color: #fff;
}
.arrow-down a:hover {
    color: #9c27b0;
}

/* ///////////////////////////////////////////////////////////////////// 
//  Puzzle
/////////////////////////////////////////////////////////////////////*/

.afsana-style, .afsana-form textarea {
    background: transparent;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    color: #fff;
    height: auto;
    padding: 0.5em;
    font-size: 1.3em;
    text-transform:uppercase;
}
.afsana-style:hover, .afsana-form textarea:hover,
.afsana-style:active, .afsana-form textarea:active ,
.afsana-style:focus, .afsana-form textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #9c27b0!important;
}
.afsana-btn {
    font-size: 1.5em;
    padding: 0.6em 0;
    width: 100%;
    border-radius: 0;
    background: #9c27b0;
    border-color: #9c27b0;
    margin-top: -15px;
}
.afsana-btn:hover {
    background: transparent;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

/* ///////////////////////////////////////////////////////////////////// 
// Score
/////////////////////////////////////////////////////////////////////*/

#finalScore td p{
    color: white;
}

#finalScore th {
    background-color: white;
}

/*Heading text*/
.quotes {
    font-size: 3.8em;
    font-weight: 100;
    line-height: 1.4em;
    text-align: center;
    color: white;
    width: 100%;
}

.row-eq-height
{
    margin-top: 10%;
}
.preloader{
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 99999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background: url('../../assets/images/preloader.gif') no-repeat center center; 
}